#html.html {
  background-color: blueviolet;
}

#html {
  background-color: cyan;
}

#html {
  background-color: lightgray;
}

.html {
  background-color: yellow ;
}

li {
  background-color: red ;
}

li {
  background-color: green;
}

li {
  background-color: blue;
}

/**
element selector -> (0, 0, 1) -> 1
class selector -> (0, 1, 0) -> 10
id selector -> (1, 0, 0) -> 100
*/