ul{
    background-color: brown;
    position: relative;

}
.html{
/* position: absolute; */
position: relative;
/* bottom: -59px; */
top: 10px;
left: 10px;
/* right: 12px; */
inset: 20px;
position: unset;
}
.css{
    background-color: yellowgreen;
    position: absolute;
    top: 10px;
    left: 10px;
}