*{
    box-sizing: border-box;
}
.box{
    width: 200px;
    height:200px;
    border: 3px solid black;
    margin: 16px;
    padding: 24px;
    font-size: 24px;
    color: white;
    border-radius: 20px;
    margin-bottom: -100px;
}
#red-box{
    background-color: red;
    position: relative;
    z-index: 999;
}
#green-box{
    background-color: rgb(224, 202, 202);
    position: relative;
    z-index: 9999;
}
#blue-box{
    background-color: green;
    position: relative;
    z-index: 99999;
}