h1{
    text-align: center;
}
div{
    height: 60px;
    width: 100px;

    font-size: 1rem;
    color: white;
}
.container{
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    background-color: black;
    /* Flexbox */
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column; */

    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-evenly; */
/* ---------------------------- */
/* When flex direction row justify content-horizontally,align item -vertically */
/* justify content-flex-start,flex-end,centre,spase-between,space-around,space-evenly */
/* align-item-center,flex-start,flex-end */
    /* flex-direction: row; */
    /* align-items: centre; */
/* ----------------------------- */
/* When flex direction column justify content-vertically,align item -horizontally */
    /* flex-direction: column; */
    /* align-items:center; */

    /* flex-direction: column; */
    /* flex-wrap: wrap; */
      flex-direction: column;
      flex-wrap: nowrap;
}
#voilet{
    align-self: center;
}
 /* by default flex direction row */
 /* justify content-horizontally */