*{
    box-sizing: border-box;
}
.parent{
    width: 800px;
    /* height: 500px; */
    background-color: brown;
}
.first{
    background-color: green;
    width: 50%;
    /* padding :5px 10px; */
    padding :10px 20px 30px 40px;
    border-top :10px solid;
    border-right:20px solid gold;
    border-bottom: dashed;
    outline: 5px solid grey;
    
    /* padding: 20px; */
    /* padding-left:40px; */
}
.second{
    background-color: yellow;
    padding: 10px;
    border: 5px solid green;
    margin: 10px;
    width: 300px;
    height: 300px;
}
b{
    margin: 10px;
    padding: 5px;
    display: inline-block;
}